* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  background-color: lightgrey;
}
h1 {
  font-size: 25px;
}

img {
  border: 1px solid black;
}

button:hover {
  background-color: lightgrey;
}
button:active {
  background-color: grey;
}
input {
  margin-top: 10px;
  height: 50px;
  width: 80%;
  border-radius: 10px;
  border: 1px solid #9d9c9c;
  padding-left: 10px;
}

.Footer {
  width: 100%;
  display: flex;
  height: 50px;
}
.ShopLink {
  text-align: center;
  width: 10%;
  padding: 15px 40px 15px 40px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}
.VerticalLine {
  margin-top: 7px;
  border-left: 3px solid black;
}
.CartLink {
  text-align: center;
  width: 10%;
  padding: 15px 40px 15px 40px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}
.ShopContent {
  display: flex;
  height: 650px;
  margin-top: 20px;
  gap: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.RestaurantList {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 3px solid #9d9c9c;
  border-radius: 5px;
}

.RestaurantButton {
  width: 60%;
  height: 50px;
  font-size: 20px;
  margin-top: 30px;
  border: 2px solid #9d9c9c;
  border-radius: 5px;
}
.MenuContent {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  padding: 3% 5% 3% 5%;
  overflow: auto;
  width: 75%;
  border: 3px solid #9d9c9c;
  border-radius: 5px;
}
.Dish {
  position: relative;
  width: 45%;
  border: 1px solid black;
}
.DishName {
  width: 100%;
  font-size: 20px;
  padding-left: 5%;
}
.AddToCart {
  position: absolute;
  bottom: 2%;
  right: 2%;
  width: 50%;
  height: 10%;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
.CartContent {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.PersonalInfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0 70px 30px;
  width: 45%;
  height: 550px;
  border: 1px solid black;
  border-radius: 5px;
}
.Cart {
  width: 50%;
  border: 1px solid black;
  border-radius: 5px;
  overflow: auto;
}
.CartTotal {
  width: 85%;
  text-align: right;
}
.CartSubmit {
  width: 10%;
}
