* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ffffff;
}
h1 {
  font-size: 25px;
}

img {
  border: 1px solid black;
}

button:hover {
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.Footer {
  background-color: lightblue;
  width: 100%;
  display: flex;
  height: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.ShopLink {
  text-align: center;
  width: 10%;
  padding: 15px 40px 15px 40px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}
.VerticalLine {
  margin-top: 7px;
  border-left: 3px solid black;
}
.CartLink {
  text-align: center;
  width: 10%;
  padding: 15px 40px 15px 40px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}
.ShopContent {
  display: flex;
  height: 850px;
  margin-top: 20px;
  gap: 2.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
.RestaurantList {
  background-color: #e35959;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 5px;
}

.RestaurantButton {
  width: 60%;
  height: 50px;
  font-size: 20px;
  margin-top: 30px;
  border: 2px solid #9d9c9c;
  border-radius: 10px;
}
.MenuContent {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  background-color: #e35959;
  padding: 3% 5% 3% 5%;
  overflow: auto;
  width: 75%;
  border-radius: 10px;
}
.Dish {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 45%;
  height: 550px;
  border: 0;
  border-radius: 10px;
}

.MenuDishImage {
  height: 80%;
  width: 100%;
  border: 0;
  border-radius: 10px;
}
.DishName {
  width: 100%;
  font-size: 20px;
  padding-left: 5%;
}

.AddToCart {
  position: absolute;
  bottom: 2%;
  right: 2%;
  width: 50%;
  height: 10%;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.CartContent {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  height: 850px;
  gap: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.Map {
  position: relative;
  border: 1px solid black;
}
.Search {
  position: absolute;
  width: 65%;
  height: 40px;
  top: 10px;
  right: 20%;
}
.LocatorButton {
  position: absolute;
  border: 0;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 10px;
  background-color: transparent;
}
.Locator {
  border: 0;
  width: 40px;
  height: 40px;
}

.PersonalInfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 30px 5% 70px 5%;
  width: 45%;
  border: 1px solid black;
  border-radius: 5px;
}
.InfoFieldName {
  font-size: 17px;
}
.InfoField {
  width: 100%;
  margin-top: 10px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #9d9c9c;
  padding-left: 10px;
}
.CartSection {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 5%;
  height: 100%;
  border-radius: 5px;
  position: relative;
}
.Cart {
  padding: 1.5%;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5%;
  height: 700px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: auto;
}
.EmptyCart {
  padding-top: 30%;
  text-align: center;
  font-size: 30px;
}
.CartItem {
  padding: 2.5%;
  height: 350px;
  display: flex;
  flex-direction: row;
  gap: 2.5%;
  border: 1px solid black;
  border-radius: 5px;
}
.CartPic {
  overflow: hidden;
}
.CartItemDescription {
  padding-top: 10%;
  width: 60%;
  text-align: center;
}
.CartItemName {
  font-size: 20px;
  margin-bottom: 5px;
}
.CartItemCost {
  font-size: 20px;
  margin-bottom: 30px;
}
.CartItemQuantity {
  justify-content: center;
  display: flex;
  height: 20%;
}
.CartQuantityInput {
  width: 65%;
  height: 100%;
  font-size: 20px;
  text-align: center;
  border: 1px solid #9d9c9c;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.CartQuantityButtons {
  display: flex;
  flex-direction: column;
}
.ArrowButtonTop {
  height: 50%;
  width: 25px;
  border: 1px solid #9d9c9c;
  border-top-right-radius: 10px;
}
.ArrowButtonBottom {
  height: 50%;
  width: 25px;
  border: 1px solid #9d9c9c;
  border-bottom-right-radius: 10px;
}
.CartTotalSection {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  position: relative;
}
.Captcha {
  position: absolute;
  bottom: 90px;
  right: 0;
}
.CartTotal {
  margin-top: 20px;
  padding: 13px 20px 13px 0;
  width: 70%;
  height: 50px;
  font-size: 24px;
  position: absolute;
  bottom: 0;
  left: 10%;
}
.CartSubmit {
  margin-top: 20px;
  width: 30%;
  font-size: 24px;
  height: 50px;
  border: 3px solid #9d9c9c;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}
